/* Add an element with the css class .responsive-helper
 * in your html document to have an indicator at the
 * bottom of your screen of witch breakpoint you are in.
*/
.responsive-helper {
  position: fixed;
  right: 0;
  bottom: 1rem;
  color: transparent; }
  .responsive-helper:before {
    content: 'large';
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    background: #000;
    padding: 1rem 2rem; }
  @media (max-width: 1199px) {
    .responsive-helper:before {
      content: 'large-only'; } }
  @media (max-width: 991px) {
    .responsive-helper:before {
      content: 'medium-only'; } }
  @media (max-width: 767px) {
    .responsive-helper:before {
      content: 'small-only'; } }
  @media (max-width: 479px) {
    .responsive-helper:before {
      content: 'mobile-only'; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.widget__area--header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; }

.horizontal__line {
  height: 1px;
  background-color: #707070; }

.py-small {
  padding: 1.5rem 0; }

.py-medium {
  padding: 3rem 0; }

.py-large {
  padding: 6rem 0; }

.p-small {
  padding: 1.5rem; }

.p-medium {
  padding: 3rem; }

.p-large {
  padding: 6rem; }

.my-small {
  margin: 1.5rem 0; }

.my-medium {
  margin: 3rem 0; }

.my-large {
  margin: 6rem 0; }

.m-small {
  margin: 1.5rem; }

.m-medium {
  margin: 3rem; }

.m-large {
  margin: 6rem; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  text-transform: capitalize; }

.primary-heading {
  font-size: 4.8rem; }

.secondary-heading {
  font-size: 3rem; }

.tertiary-heading {
  font-size: 2.3rem; }

.quaternary-heading {
  font-size: 2rem; }

.container {
  max-width: 112.8rem;
  margin: 0 auto; }

.header {
  border-bottom: 1px solid #EBEBEB; }

.header__primary {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center; }
  .header__primary--logo a {
    color: black;
    text-decoration: none; }
  .header__primary--nav {
    display: flex; }

.nav__list {
  display: flex; }
  .nav__list li {
    text-decoration: none;
    list-style: none; }
    .nav__list li a {
      text-decoration: none;
      color: black; }
    .nav__list li:not(:last-child) {
      margin-right: 50px; }

.main__footer {
  background-color: #474747;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center; }
  .main__footer--copyright {
    color: white; }

.btn {
  border: none;
  cursor: pointer;
  padding-bottom: .6rem; }
  .btn:link, .btnvisited {
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    font-size: 1.4rem;
    font-weight: bold;
    color: #474747; }
  .btn__readmore {
    border-bottom: 2px solid #474747; }
  .btn__loadMore {
    padding: 1.4rem 3.2rem;
    border: 1px solid #474747;
    border-radius: 4px; }
    .btn__loadMore:hover {
      background-color: #474747;
      color: #EBEBEB; }

.content__area {
  display: flex;
  margin-top: 60px; }

.post__area {
  flex-basis: 64%;
  overflow: hidden;
  margin-bottom: 6rem; }
  .post__area--single {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-bottom: 3rem; }
  .post__area--featured {
    width: 100%;
    height: 40rem;
    overflow: hidden; }
  .post__area--excerpt {
    padding: 3rem; }
    .post__area--excerpt a {
      margin-top: 3rem; }

.post__meta {
  margin: 15px 0; }

.post__single--category {
  text-align: center;
  color: #FFFFFF;
  background: #474747;
  width: 20%;
  display: inline-block; }

.post__single--meta {
  text-align: center;
  margin-bottom: 3rem; }

.post__single --title {
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-align: center; }

.post__single--featured, .post__single--content {
  margin-bottom: 3rem; }

.site-description {
  margin-bottom: 0; }

.site-title {
  margin-bottom: 0; }
