//============
// Page - Home
//============



.content__area{
    display: flex;
    margin-top: 60px;   
}

.post__area{
    flex-basis: 64%;
    overflow: hidden;
    margin-bottom: 6rem;
    a{
        text-decoration: none;
        color:inherit;
    }

    &--single{
        border: 1px solid $secondary-color;
        border-radius: 4px;
        margin-bottom: 3rem;
        
    }
    &--featured{
        width: 100%;
        height: 40rem;
        overflow: hidden;
    }
    &--excerpt{
        padding: 3rem;
       a{
           margin-top:3rem;
       }
    }

}
.post__meta{
    margin: 15px 0;
    color:#747474;
    a{
        text-decoration: none;
        color:#747474;
    }
}

// .post__area{
//     flex-basis: 64%;
//     overflow: hidden;
//     margin-right: 2rem;
//     &--single{
//         border: 1px solid $secondary-color;
//         border-radius: 4px;
//         margin-bottom: 3rem;
//         &--excerpt{
//             margin:3rem;
//         }
//     }

//     &--featured{
       
//         &img{
//             width: 100%;
//             height: 400px;
//         }
//     }
   
// }
.widget__area{
   
}