//============
// Buttons
//============


.btn{
    border: none;
    cursor: pointer;
    padding-bottom: .6rem;
    

    &:link,&visited{
        text-transform: capitalize;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        font-size:$medium-font;
        font-weight: bold;
        color:$primary-color;

    }
    &__readmore{
        border-bottom: 2px solid $primary-color;
    }
    &__loadMore{
        padding:1.4rem 3.2rem;
        border:1px solid $primary-color;
        border-radius: 4px; 
        &:hover{
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}