//============
// Global styles
//============


.widget__area--header{
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
   
}

.widget__category--list{


}

.horizontal__line{
    height: 1px;
    background-color: #707070;
}


// pa
.py-small{padding:  1.5rem 0}
.py-medium{padding: 3rem 0}
.py-large{padding:  6rem 0}

.p-small{padding:   1.5rem}
.p-medium{padding:  3rem}
.p-large{padding:   6rem}



.my-small{margin:   1.5rem 0}
.my-medium{margin:  3rem 0}
.my-large{margin:   6rem 0}

.m-small{margin:    1.5rem}
.m-medium{margin:   3rem}
.m-large{margin:    6rem}
