//============
// Typography
//============


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size:$defualt-font;
    line-height: 1.7;
    text-transform:capitalize;

}


.primary-heading{
    font-size:$h1-font;
    

}

.secondary-heading{
    font-size:$h2-font;
}

.tertiary-heading{
     font-size:$h3-font;
}
.quaternary-heading{
    font-size:$h4-font;
}