//============
// Variables
//============

// colors

$primary-color:#474747;
$secondary-color:#EBEBEB;
$white-color:#FFFFFF;

// font size
$defualt-font:1.6rem;
$h1-font:4.8rem;
$h2-font:3rem;
$h3-font:2.3rem;
$h4-font:2rem;
$medium-font:1.4rem;
$small-font:1.2rem;


// borders

$border-bottom: 1px solid $secondary-color;

